body {
    width: 90%;
    margin: 10px;
    padding: 10px;
}
thead {
    background-color: rgba(133, 129, 129, 0.696);
}
thead > tr,
th {
    border: 2px solid black;
    text-align: center;
}

tr {
    padding: 10px;
    margin: 10px;
}
td:not(:first-child),
th {
    text-align: center;
}
.selector {
    width: 30px;
}
